Repository hmcts/lgy-iac-web, pull requests merged in 2022-08, with the labels that each got.

#10 Configure Flyway gradle plugin to create database
  build.gradle
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
  src/main/resources/db/migration/V1__test_table.sql
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-10

#11 Add flyway migration to Jenkins_CNP and build.gradle
  Jenkinsfile_CNP
  build.gradle
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
  src/main/java/uk/gov/hmcts/legacy/web/config/FlywayConfiguration.java
  src/main/java/uk/gov/hmcts/legacy/web/data/migration/FlywayNoOpStrategy.java
  src/main/java/uk/gov/hmcts/legacy/web/exception/PendingMigrationScriptException.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/legacy/web/data/migration/FlywayNoOpStrategyTest.java
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-11

#12 Modify dbmigrate task name to match the keyvault name
  Jenkinsfile_CNP
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-12

#14 Revert change which removed secrets
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
  infrastructure/db-postgres.tf
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-14

#27 Add new secrets to the lgy-iac key vault with the "web-" prefix
  infrastructure/db-postgres.tf
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-27

#30 Remove lgy-iac secrets from keyvault
  Jenkinsfile_CNP
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
  infrastructure/db-postgres.tf
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-30

#31 Reset enableDbMigration to use product (not component) to access the …
  Jenkinsfile_CNP
  charts/lgy-iac-web/Chart.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-31

#32 Test new values for the RUN_DB_MIGRATION_ON_STARTUP
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-32

#33 Set default RUN_DB_MIGRATION_ON_STARTUP to see if the migration runs
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-33

#36 Update the image name to use /project/component instead of namespace/…
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-36

#38 Revert the renaming of the environment specific values charts
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-38

#39 Typo in ingress name
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
  src/main/java/uk/gov/hmcts/legacy/web/data/migration/FlywayNoOpStrategy.java
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-39

#40 Hardcode the ingressHost temporarily in values.yaml for staging
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
  src/main/resources/db/migration/V2__test_create_table2.sql
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-40

#42 Revert to project without springboot-jdbc
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
  src/main/java/uk/gov/hmcts/legacy/web/config/FlywayConfiguration.java
  src/main/resources/application.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-42

#44 Add a query to check the database table exists
  charts/lgy-iac-web/Chart.yaml
  src/main/java/uk/gov/hmcts/legacy/web/controllers/RootController.java
  src/main/resources/application.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-44

#45 Add ssl_mode to connection string
  charts/lgy-iac-web/Chart.yaml
  src/main/resources/application.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-45

#46 Rework the jdbc getConnection call (to remove the :99999)
  src/main/java/uk/gov/hmcts/legacy/web/controllers/RootController.java
  src/main/resources/application.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-46

#47 Add new migration
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
  src/main/resources/application.yaml
  src/main/resources/db/migration/V3__test_create_table3.sql
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-47

#48 Trying to get flyway to trigger
  build.gradle
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  src/main/resources/application.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-48

#49 try disabling keyvaults
  charts/lgy-iac-web/values.dev.template.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-49

#51 reset default ingress host
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-51

#52 Disable flyway smoke test
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  src/main/resources/application.yaml
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-52

#53 Refactor application yaml flyway
  build.gradle
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  src/integrationTest/java/uk/gov/hmcts/legacy/web/config/SwaggerPublisherTest.java
  src/integrationTest/java/uk/gov/hmcts/legacy/web/controllers/GetWelcomeTest.java
  src/main/java/uk/gov/hmcts/legacy/web/controllers/RootController.java
  src/main/java/uk/gov/hmcts/legacy/web/data/migration/FlywayNoOpStrategy.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V2__test_create_table2.sql
  src/main/resources/db/migration/V3__test_create_table3.sql
  src/smokeTest/resources/application-smoke.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-53

#54 Add secrets definitions to Jenkins_CNP pipeline so that the dev envir…
  Jenkinsfile_CNP
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  charts/lgy-iac-web/values.yaml
  src/main/java/uk/gov/hmcts/legacy/web/controllers/RootController.java
  src/main/resources/application.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-54

#55 Add the full IACFees schema with postgresql modifications from SQL Se…
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  src/main/java/uk/gov/hmcts/legacy/web/config/FlywayRepair.java
  src/main/java/uk/gov/hmcts/legacy/web/controllers/RootController.java
  src/main/java/uk/gov/hmcts/legacy/web/data/migration/FlywayNoOpStrategy.java
  src/main/resources/application.yaml
  src/main/resources/db/migration/V1__test_table.sql
  src/main/resources/db/migration/V4__baseline_iacfees_tables.sql
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-55

#56 First pr for creating Azure Storage Account
  build.gradle
  charts/lgy-iac-web/Chart.yaml
  infrastructure/.terraform-version
  infrastructure/data.tf
  infrastructure/provider.tf
  infrastructure/storage-account.tf
  infrastructure/subscriptions.tf
  infrastructure/variables.tf
Labels: ns:dts-legacy, prd:lgy-iac, add-or-update, rel:lgy-iac-web-pr-56

#62 Add ip for blob storage access
  charts/lgy-iac-web/Chart.yaml
  infrastructure/storage-account.tf
Labels: ns:dts-legacy, prd:lgy-iac, add-or-update, rel:lgy-iac-web-pr-62

#75 flyway db migration step removed from jenkins pipeline
  Jenkinsfile_CNP
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-75

#78 chart version changed
  charts/lgy-iac-web/Chart.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-78

#81 blob storage test - folder name logging closed
  charts/lgy-iac-web/Chart.yaml
  src-springboot/main/java/uk/gov/hmcts/legacy/web/controllers/BlobStorage.java
  src-springboot/main/java/uk/gov/hmcts/legacy/web/controllers/RootController.java
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-81
