Repository hmcts/lgy-iac-web, pull requests merged in 2022-09, with the labels that each got.

#87 postgres db parameters added for staging environment helm chart
  charts/lgy-iac-web/values.stg.template.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-87

#88 postgres db parameters added for staging environment helm chart
  charts/lgy-iac-web/values.stg.template.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-88

#89 chart version updated
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-89

#90 startupPeriod increased, staging db values fixed
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-90

#92 Move 1 of the POSTGRES env values from st.template
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-92

#93 Add curl to container
  Dockerfile
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
  deploy/curl-amd64
  health/index.jsp
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-93

#94 Add new path to health war to provide /health/liveness url for Applic…
  build.gradle
  health/health.html
  health/liveness.html
  health/web.xml
  src/functionalTest/java/uk/gov/hmcts/legacy/web/SampleFunctionalTest.java
  src/smokeTest/java/uk/gov/hmcts/legacy/web/SampleSmokeTest.java
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-94

#95 Trim tomcat folders
  Dockerfile
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-95

#96 Remove startup probe local values
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-96

#97 No change - just re-deploy
  Dockerfile
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-97

#98 Revert the mistaken rename of index.jsp to health.html
  build.gradle
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-98

#99 See if a "health-only" deployment passes the startup probes
  Dockerfile
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-99

#100 Adjust startup-probe timeouts
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-100

#101 Re-instate iacfees-war
  Dockerfile
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-101

#102 alias naming changed for db key vault values
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-102

#105 Update the renovate version increments manually from all PRs
  build.gradle
  infrastructure/.terraform-version
  infrastructure/provider.tf
Labels: ns:dts-legacy, prd:lgy-iac, add-or-update, rel:lgy-iac-web-pr-105

#106 alias naming changed for db key vault values
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.stg.template.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-106

#110 chart version updated for key vaults secret naming changes
  charts/lgy-iac-web/Chart.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-110

#119 key vaults mounting change-rollback
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-119

#120 Db keyvaults alias change
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-120

#121 Try exporting mounted secrets in startup shell script
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-121

#122 Optimise tomcat startup
  Dockerfile
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-122

#123 Adjust syntax for tldscanjars logger
  Dockerfile
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-123

#124 Use urandom for java-security to improve startup performance
  Dockerfile
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-124

#126 Add dynamic method in start_tomcat.sh to export the mounted secrets
  Dockerfile
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-126

#127 Move export method in startup_tomcat to top of script
  charts/lgy-iac-web/values.dev.template.yaml
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-127

#128 key vault mounted variables logging added
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.dev.template.yaml
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-128

#129 disableKeyVaults value set as false for dev environment
  charts/lgy-iac-web/values.dev.template.yaml
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-129

#130 Test syntax of declaring variable in busybox shell script for environ…
  deploy/start_tomcat.sh
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-130

#109 Add functional test for S3 writing
  Dockerfile
  WEB-INF/classes/log4j.properties
  WEB-INF/lib/jdom.jar
  WEB-INF/struts-config.xml
  build.gradle
  charts/lgy-iac-web/Chart.yaml
  charts/lgy-iac-web/values.yaml
  deploy/reference.pdf
  deploy/reference.xml
  deploy/start_tomcat.sh
  src-springboot/main/java/uk/gov/hmcts/legacy/web/controllers/BlobStorage.java
  src/functionalTest/java/uk/gov/hmcts/legacy/web/TestSavePDFtoS3.java
  src/functionalTest/resources/229910219260.pdf
  src/main/java/com/MOJICT/IACFee/Actions/XMLReturnAction.java
  src/main/java/com/MOJICT/IACFee/Health/PdfLiveness.java
  src/main/java/com/MOJICT/IACFee/Health/XmlLiveness.java
  src/main/java/com/MOJICT/IACFee/Util/DocWriteDOM.java
  src/main/java/com/MOJICT/IACFee/Util/Helper.java
  src/main/java/com/MOJICT/IACFee/Util/PDFUtilityIAFT2.java
  src/main/java/com/MOJICT/IACFee/Util/Trans_QueryBuilder.java
  src/test/java/com/MOJICT/IACFee/Util/TestSavePDF.java
  src/test/java/com/MOJICT/IACFee/Util/TestWriteToFile.java
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-109

#70 Add the new flyway db migration sql command
  src/main/resources/db/migration/V5__alter_default_schema.sql
Labels: ns:dts-legacy, prd:lgy-iac, rel:lgy-iac-web-pr-70
